@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* 3xl */
  --text-3xl-b: 32px;
  --text-3xl-b--line-height: 42px;
  --text-3xl-b--font-weight: 700;

  --text-3xl-sb: 32px;
  --text-3xl-sb--line-height: 42px;
  --text-3xl-sb--font-weight: 600;

  /* 2xl */
  --text-2xl-b: 24px;
  --text-2xl-b--line-height: 32px;
  --text-2xl-b--font-weight: 700;

  --text-2xl-sb: 24px;
  --text-2xl-sb--line-height: 32px;
  --text-2xl-sb--font-weight: 600;

  --text-2xl-m: 24px;
  --text-2xl-m--line-height: 32px;
  --text-2xl-m--font-weight: 500;

  --text-2xl-r: 24px;
  --text-2xl-r--line-height: 32px;
  --text-2xl-r--font-weight: 400;

  /* xl */
  --text-xl-b: 20px;
  --text-xl-b--line-height: 32px;
  --text-xl-b--font-weight: 700;

  --text-xl-sb: 20px;
  --text-xl-sb--line-height: 32px;
  --text-xl-sb--font-weight: 600;

  --text-xl-m: 20px;
  --text-xl-m--line-height: 32px;
  --text-xl-m--font-weight: 500;

  --text-xl-r: 20px;
  --text-xl-r--line-height: 32px;
  --text-xl-r--font-weight: 400;

  /* 2lg */
  --text-2lg-b: 18px;
  --text-2lg-b--line-height: 26px;
  --text-2lg-b--font-weight: 700;

  --text-2lg-sb: 18px;
  --text-2lg-sb--line-height: 26px;
  --text-2lg-sb--font-weight: 600;

  --text-2lg-m: 18px;
  --text-2lg-m--line-height: 26px;
  --text-2lg-m--font-weight: 500;

  --text-2lg-r: 18px;
  --text-2lg-r--line-height: 26px;
  --text-2lg-r--font-weight: 400;

  /* lg */
  --text-lg-b: 16px;
  --text-lg-b--line-height: 26px;
  --text-lg-b--font-weight: 700;

  --text-lg-sb: 16px;
  --text-lg-sb--line-height: 26px;
  --text-lg-sb--font-weight: 600;

  --text-lg-m: 16px;
  --text-lg-m--line-height: 26px;
  --text-lg-m--font-weight: 500;

  --text-lg-r: 16px;
  --text-lg-r--line-height: 26px;
  --text-lg-r--font-weight: 400;

  /* md */
  --text-md-b: 14px;
  --text-md-b--line-height: 24px;
  --text-md-b--font-weight: 700;

  --text-md-sb: 14px;
  --text-md-sb--line-height: 24px;
  --text-md-sb--font-weight: 600;

  --text-md-m: 14px;
  --text-md-m--line-height: 24px;
  --text-md-m--font-weight: 500;

  --text-md-r: 14px;
  --text-md-r--line-height: 24px;
  --text-md-r--font-weight: 400;

  /* sm */
  --text-sm-sb: 13px;
  --text-sm-sb--line-height: 22px;
  --text-sm-sb--font-weight: 600;

  --text-sm-m: 13px;
  --text-sm-m--line-height: 22px;
  --text-sm-m--font-weight: 500;

  /* xs */
  --text-xs-sb: 12px;
  --text-xs-sb--line-height: 20px;
  --text-xs-sb--font-weight: 600;

  --text-xs-m: 12px;
  --text-xs-m--line-height: 18px;
  --text-xs-m--font-weight: 500;

  --text-xs-r: 12px;
  --text-xs-r--line-height: 18px;
  --text-xs-r--font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
